__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.db
*.sqlite3

logs/
*.log

.env
.env.local
.env.development
.env.test
.env.production

.idea/
.vscode/
*.swp
*.swo

*.html
*.md

.DS_Store
Thumbs.db